<div class="profile-header" [style.backgroundColor]="currentTheme.card" [style.color]="currentTheme.text">
  <div class="profile-banner"></div>
  <div class="profile-info">
    @if (profilePicture) {
      <img class="profile-picture" [src]="imageUrl + profilePicture" alt="Profile" (click)="navigateToProfile()">
    } @else {
      <img class="profile-picture" [src]="imageUrl + 'placeholder.png'" alt="Profile" (click)="navigateToProfile()">
    }
    <div class="user-details">
      <h2 class="username">{{ username }}</h2>
      <p class="user-handle">@{{ userHandle }}</p>
      <p class="user-bio">{{ bio }}</p>
    </div>
  </div>
  <div>
    @if (!isOwnProfile) {
      <div class="follow-section">
        <button class="follow-button" (click)="toggleFollow()"
          [style.backgroundColor]="isFollowing ? 'transparent' : currentTheme.primary"
          [style.color]="isFollowing ? currentTheme.text : currentTheme.buttonText"
          [style.borderColor]="isFollowing ? currentTheme.divider : 'transparent'">
          {{ isFollowing ? 'Dejar de Seguir' : 'Seguir' }}
        </button>
      </div>
    }

    <div class="profile-stats">
      <div class="stat">
        <span class="stat-value">{{ followers }}</span>
        <span class="stat-label">Seguidores</span>
      </div>
      <div class="stat">
        <span class="stat-value">{{ following }}</span>
        <span class="stat-label">Siguiendo</span>
      </div>
      <div class="stat">
        <span class="stat-value">{{ recipesCount }}</span>
        <span class="stat-label">Recetas</span>
      </div>
    </div>

  </div>
</div>
