<p>recipe-card works!</p>

<div class="wrapper">
  <mat-card class="card">

    <mat-card-header class="card-header">
      <div class="header-content">

        <p class="tag" (click)="onTagClick($event)">
            {{recipeData.cuisine}}
        </p>

        <div class="divider"></div>

        <div class="tags-container" (mousedown)="startDrag($event)" (mousemove)="onDrag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
            <div class="tag" *ngFor="let tag of recipeData.tags" (click)="onTagClick($event)">
                {{tag.name}}
            </div>
        </div>

        <div class="profilePicture">
            <img src="{{recipeData.authorProfilePictureURL}}" alt="" height="30vh" width="30vh">
        </div>

      </div>
    </mat-card-header>

    <mat-card-content class="card-body">
        <div class="image-holder">
            <img 
                src="{{recipeData.imageURL}}" 
                alt=""
                class="image"
            >
        </div>
      <div class="body-content">
        <div class="title-rating">
            <p>{{recipeData.title}}</p>
            <div class="divider"></div>
            <div class="rating">
                <div *ngFor="let star of stars">
                    @if (star) {
                        <mat-icon class="icon">star</mat-icon>
                    }@else {
                        <mat-icon class="icon">star_border</mat-icon>
                    }
                </div>
            </div>
        </div>

        <div class="description-preptime">
            <p>{{recipeData.description}}</p>
            <div class="preptime">
                <p>Preparacion: {{recipeData.prepTime}} min</p>
                <div class="divider"></div>
                <p>Cocinado: {{recipeData.cookTime}} min</p>
                <div class="divider"></div>
                <p>Total: {{recipeData.totalTime}} min</p>
            </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>