.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD RESPONSIVE */
.card {
  width: 40vw;
  max-width: 700px;
  min-width: 320px;
  background-color: rgb(221, 221, 221);
  font-size: clamp(0.85rem, 1vw, 1rem);

  color: rgb(0, 0, 0);
}

/* HEADER */
.card-header {
  padding: 0;
}

.header-content {
  background-color: rgb(172, 172, 172);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
}

/* DIVIDER */
.divider {
  width: 2px;
  height: 1.2em;
  background-color: black;
  border-radius: 10px;
  flex-shrink: 0;
}

/* TAGS CONTAINER */
.tags-container {
  display: flex;
  gap: 0.5rem;
  flex: 1;

  overflow-x: auto;
  overflow-y: hidden;

  user-select: none;

  scrollbar-width: none;
}

.tags-container::-webkit-scrollbar {
  display: none;
}

.tags-container:active {
  cursor: grabbing;
}

/* TAG */
.tag {
  flex-shrink: 0;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.7rem 0.9rem;
  user-select: none;
  cursor: pointer;
}

.tag p {
  white-space: nowrap;
  margin: 0;
  font-size: 0.85rem;
}

/* PROFILE IMAGE */
.profilePicture {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.profilePicture img {
  width: clamp(2.5rem, 4vw, 3.5rem);
  height: clamp(2.5rem, 4vw, 3.5rem);
  object-fit: cover;
}

/* BODY */
.card-body {
  padding: 1rem;
}

/* IMAGE */
.image-holder {
  width: 100%;
  display: flex;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}


/* TITLE + RATING */
.title-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1;
  text-align: center;
  font-size: 2rem;
}

.rating{
  display: flex;
}

.icon {
  font-size: 1.4em;
  height: 1em;
  width: 1em;
}

/* DESCRIPTION */
.description-preptime {
  font-size: 1.2rem;
  text-align: center;
}

/* PREP TIME */
.preptime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1;
  flex-wrap: wrap;
}