<div class="recipe-card" [style.backgroundColor]="currentTheme.card" [style.color]="currentTheme.text" [style.border]="'1px solid ' + currentTheme.divider" (click)="openRecipe()">

  <div class="card-header" [style.borderBottom]="'1px solid ' + currentTheme.divider">
    <div class="author-row">
      @if (recipeData.author?.profilePicturePath) {
        <img class="author-avatar" [src]="imageUrl + recipeData.author?.profilePicturePath" alt="" (click)="navigateToProfile($event)">
      } @else {
        <img class="author-avatar" [src]="imageUrl + 'placeholder.png'" alt="" (click)="navigateToProfile($event)">
      }
      <div class="author-text" (click)="navigateToProfile($event)">
        <span class="author-name">{{recipeData.author?.displayName}}</span>
        <span class="author-handle">@{{recipeData.author?.id}}</span>
      </div>
      <div class="menu-container">
        <button class="menu-button" (click)="toggleMenu($event)" [style.color]="currentTheme.menuIcon" [style.--hover-bg]="currentTheme.hoverBg">
          <mat-icon>more_vert</mat-icon>
        </button>
        @if (showMenu) {
          <div class="dropdown-menu" [style.backgroundColor]="currentTheme.card" [style.border]="'1px solid ' + currentTheme.divider">
            <button class="menu-option" (click)="saveRecipe($event)" [style.color]="currentTheme.text" [style.--hover-bg]="currentTheme.hoverBg">
              @if (recipeData.isSaved) {
                <mat-icon [style.color]="currentTheme.menuIcon">bookmark</mat-icon>
                <span>Eliminar de favoritos</span>
              }
              @else {
                <mat-icon [style.color]="currentTheme.menuIcon">bookmark_border</mat-icon>
                <span>Añadir a favoritos</span>
              }
            </button>
            @if (isAuthor) {
              <button class="menu-option" (click)="deleteRecipe($event)" [style.color]="currentTheme.text" [style.--hover-bg]="currentTheme.hoverBg">
                <mat-icon style="color: rgb(220, 50, 50)">delete</mat-icon>
                <span style="color: rgb(220, 50, 50)">Eliminar</span>
              </button>
            }
            <button class="menu-option" (click)="shareRecipe($event)" [style.color]="currentTheme.text" [style.--hover-bg]="currentTheme.hoverBg">
              <mat-icon [style.color]="currentTheme.menuIcon">share</mat-icon>
              <span>Compartir</span>
            </button>
          </div>
        }
      </div>
    </div>

  <div class="tags-row">
      <span class="cuisine-tag" (click)="onCuisineClick($event, recipeData.cuisine)" [style.backgroundColor]="currentTheme.primary" [style.color]="currentTheme.buttonText">
        {{recipeData.cuisine}}
      </span>
    <span class="tag-divider" [style.backgroundColor]="currentTheme.divider"></span>
    <div class="scrollable-tags" [class.dragging]="isTagDragging" (mousedown)="startDrag($event)" (mousemove)="onDrag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
      <span class="tag" *ngFor="let tag of recipeData.tags" (click)="onTagClick($event, tag)" [style.backgroundColor]="currentTheme.tagBg" [style.color]="currentTheme.text">
        {{tag.name}}
      </span>
    </div>
  </div>
  </div>

  <div class="card-body">
    @if (recipeData.imageURL && recipeData.imageURL !== '') {
      <div class="image-container">
        <img class="recipe-image" [src]="imageUrl + recipeData.imageURL" alt="" (error)="onImageError($event)">
      </div>
    }

    <div class="content-section">
      <h2 class="recipe-title">{{recipeData.title}}</h2>
      <p class="recipe-description">{{recipeData.description}}</p>

      <div class="meta-row">
        <div class="rating">
          <div class="star-container" *ngFor="let star of stars">
            <div class="star-background" [style.backgroundColor]="currentTheme.starBg">
              <mat-icon class="star-icon" [style.color]="star ? currentTheme.starActive : currentTheme.starInactive">
                {{star ? 'star' : 'star_border'}}
              </mat-icon>
            </div>
          </div>
        </div>

        <div class="times">
          <span class="time-item">
            <mat-icon class="time-icon">schedule</mat-icon>
            Prep: {{recipeData.prepTime}}m
          </span>
          <span class="time-divider" [style.backgroundColor]="currentTheme.divider"></span>
          <span class="time-item">
            <mat-icon class="time-icon">local_fire_department</mat-icon>
            Coc: {{recipeData.cookTime}}m
          </span>
          <span class="time-divider" [style.backgroundColor]="currentTheme.divider"></span>
          <span class="time-item total">
            <mat-icon class="time-icon">timer</mat-icon>
            {{recipeData.totalTime}}m
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
